.jitsi-container {
    width: 100%;
    height: calc(100vh - var(--navbar-height, 60px));
    margin-top: var(--navbar-height, 60px);
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    background-color: #000000;
    border: 1px solid #007bff;
    box-sizing: border-box;
}

.jitsi-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5em;
    color: #FFFFFF;
    background-color: #333333;
}